@import "./partial/partial";

.header{
  color: blue;
  margin: 20px 30px;
  text-transform: uppercase;
  margin-left: 200px;

  &:hover{
    transform: scale(1.2);
    transform: rotateX(40deg);

  }
}

.image{
  height: 100px;
  width: 100px;
  border-radius: 30px;
  transform: rotateZ(90deg);
  transition: 1s ease-in;
}

.button{
  @extend %button;

  background-color: $buttonPrimary;
}